// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
/*@import '~bootstrap/scss/bootstrap';*/
@import '~admin-lte/dist/css/adminlte.min.css';
@import '~font-awesome/scss/font-awesome.scss';
@import "vue-select/src/scss/vue-select.scss";

.navbar-light {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.router-link-exact-active {
	background-color: #3f51b5;
	color: #fff !important;
}

.nav-item-separator {
	border-bottom: 1px solid #4f5962; 
	margin-bottom: 3px !important;
}
